.desktop-menu {
  width: 9rem;
  height: auto;
  border: 0.063rem solid var(--very-light-pink);
  border-radius: 0.375rem;
  padding: 1.25rem 1.25rem 0 1.25rem;
}

.desktop-menu ul {
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 1.25rem;
  border-top: 0.063rem solid var(--very-light-pink);
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  color: var(--black);
  display: inline-block;
  margin-bottom: 1.25rem;
}
